.hero-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(205, 209, 209);
    padding: 0px 100px;
    padding-bottom: 30px;
}

.hero-left p {
    padding: 20px 0px;
    text-align: justify;
    /* color: gold; */
}

.serchButton {
    position: relative;
}

.btn {
    position: absolute;
    left: 380px;
    
    padding: 12px 20px;
    background-color: green;
    border: 1px solid green;
    color: white;
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.input-button {
    padding: 13px;
    width: 50%;
    border: none;
    border-radius: 5px 0 0 5px;
    

}

.input-button:focus {
    border: none;
    outline: none;
}


.hero-right img {
    width: 800px;
    /* height: 600px; */
}

::placeholder {
    /* color: red; */
}